@import "tailwindcss";

@theme {
  --color-neo-red: #FFB3C6;
  /* Pastel Pink/Rose */
  --color-neo-teal: #A0C4FF;
  /* Pastel Blue/Periwinkle */
  --color-neo-yellow: #FDFFB6;
  /* Pastel Yellow */
  --color-neo-dark: #BDB2FF;
  /* Pastel Purple/Lavender - acting as a secondary dark or accent */
  --color-neo-white: #FFFFFC;
  /* Soft White */
  --color-neo-orange: #FF991C;
  --color-neo-blue: #305CDE;

  /* Retaining some bold accents for contrast if needed, but per request "pastel" */
  /* Actually, to keep it "Neobrutalist", we need high contrast with the black borders */
  /* So we keep the pastel backgrounds but strict black text/borders */

  --shadow-neo: 4px 4px 0px 0px #000000;
  --shadow-neo-hover: 2px 2px 0px 0px #000000;
  --shadow-neo-sm: 2px 2px 0px 0px #000000;
}

@layer base {
  body {
    background-color: var(--color-neo-white);
    color: black;
  }
}